* {
  margin: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #1b362a;
  font-family: "Open Sans", sans-serif;
}

h3, h4 {
  font-family: "Playfair Display", serif;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 0.25rem solid #d1a49d;
}

header > img {
  width: 7em;
  margin: 1.5em;
}

main {
  margin: 0 auto;
  background-color: #8aab9c;
  border-left: 0.25rem solid #d1a49d;
  border-right: 0.25rem solid #d1a49d;
}

section {
  padding: 1.5rem;
}

#bio {
  display: flex;
}

#bio-choose {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bio img {
  height: 15rem;
}

#name-date {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 0 1rem 0 1rem;
  color: white;
  background-color: #4f2924;
}

#choose-list {
  padding: 1rem;
  color: #4f2924;
  background-color: #d1a49d;
}

#choose-list ul {
  background-color: #d1a49d;
  padding: 1rem 0 1rem 1rem;
}

#tech {
  display: flex;
  justify-content: space-around;
}

figure {
  width: 10rem;
  text-align: center;
  font-size: small;
}

figure img {
  height: 10rem;
}

figcaption {
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  padding: 0.5rem;
  position: relative;
  top: -1.5rem;
}

#interest h3 {
  padding: 1rem;
  background-color: #4f2924;
  color: white;
}

#pink-box {
  font-weight: 100;
  background-color: #d1a49d;
  padding: 1rem;
}

#pink-box h4 {
  padding-bottom: 1rem;
}

#copyright {
  color: white;
  border-top: 0.25rem solid #d1a49d;
  padding: 1rem;
  text-align: center;
}
